
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: outside none none;
}
table {
    border: 0 none;
    border-collapse: collapse;
    border-spacing: 0;
}
.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clear::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
}
* html .clear {
    height: 1%;
}
body {
    color: #333333;
    font-family: "Vollkorn",arial,serif;
    font-size: 14px;
    line-height: 1.5em;
}
a {
    color: #00a99d;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Vollkorn",arial,serif;
    line-height: 125%;
    margin-bottom: 6px;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 15px;
}
h6 {
    font-size: 14px;
}
p {
    margin-bottom: 18px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 15px;
    width: 100%;
}
table.views-view-grid {
    border: 0 none;
}
th, tr, td {
    vertical-align: middle;
}
.sticky-header th, .sticky-table th {
    border-bottom: 3px solid #ccc;
    padding-right: 1em;
    text-align: left;
}
table {
    border: 1px solid #bbbbbb;
}
th {
    border-right: 1px solid #c8c7c7;
    color: #333;
    padding: 5px 4px;
    text-shadow: 1px 1px #fff;
}
tr {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
td {
    border-bottom: 1px solid #c8c7c7;
    border-right: 1px solid #c8c7c7;
    color: #747474;
    padding-left: 4px;
    text-align: left;
}
code {
    background: #d8d8d8 none repeat scroll 0 0;
    border: 1px solid #bbbbbb;
    border-radius: 7px;
    display: block;
    margin: 5px 0;
    padding: 7px;
    text-shadow: 1px 1px #fff;
}
mark {
    background-color: #fdfc9b;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee currentcolor currentcolor;
    border-image: none;
    border-style: solid none none;
    border-width: 1px medium medium;
}
dt {
    font-weight: bold;
    margin-bottom: 24px;
}
dd {
    margin-bottom: 24px;
    margin-left: 30px;
}
ul {
    list-style-type: disc;
    margin-bottom: 12px;
    margin-left: 15px;
}
ul ul {
    list-style-type: square;
    margin-bottom: 0;
}
ul ul ul {
    list-style-type: circle;
}
ol {
    list-style-type: decimal;
    margin-bottom: 24px;
    margin-left: 30px;
}
ol ol {
    list-style: outside none upper-alpha;
    margin-bottom: 0;
}
ol ol ol {
    list-style: outside none lower-roman;
}
ol ol ol ol {
    list-style: outside none lower-alpha;
}
abbr, acronym {
    border-bottom: 1px dotted #999;
    cursor: help;
}
big {
    font-size: 1.3em;
}
cite, em {
    font-style: italic;
}
ins {
    background-color: #fdfc9b;
    text-decoration: none;
}
pre {
    background: #d8d8d8 none repeat scroll 0 0;
    border: 1px solid #bbbbbb;
    border-radius: 7px;
    margin: 5px 0;
    padding: 7px;
    text-shadow: 1px 1px #fff;
}
blockquote, q {
    background: #d8d8d8 url("../images/quote.png") no-repeat scroll 0 0;
    border: 1px solid #bbbbbb;
    border-radius: 7px;
    margin: 5px 0;
    padding: 10px 5px 5px 47px;
    quotes: none;
    text-shadow: 1px 1px #fff;
}
blockquote::before, blockquote::after, q::before, q::after {
    content: none;
}
strong {
    font-weight: bold;
}
sup, sub {
    font-size: 10px;
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: baseline;
}
sup {
    bottom: 1ex;
}
sub {
    top: 0.5ex;
}
img, video {
    height: auto;
}
video {
    display: block;
}
audio {
    max-width: 100%;
}
.content a img {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eee;
    box-shadow: 0 0 3px #eee;
    padding: 5px;
}
.content a:hover img {
    background: #f0f0f0 none repeat scroll 0 0;
}
.marker, .form-required {
    color: #c24050;
}
#header_wrapper {
    margin: 0 auto;
    position: relative;
}
#header {
    margin: 0 auto;
}
.menu_wrapper {
    background-color: #00a99d;
    border-bottom: 0 solid #00a99d;
    border-top: 0 solid #00a99d;
    display: block;
    margin-bottom: 15px;
    padding: 6px 0;
    position: relative;
    z-index: 99;
}
.bar-menu {
}
#logo {
    float: none;
    margin: 15px 10px;
    text-align: center;
}
#site-title a, #site-description {
    color: #00a99d;
    font-weight: 300;
}
#site-title, #site-description {
    float: none;
    text-align: center;
}
#site-title {
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0;
}
#site-title a {
    display: inline;
    float: left;
    font-family: dancing script,arial,serif;
}
#site-description {
    clear: both;
    color: #00a99d;
    float: left;
    font-family: Dancing script,arial,serif;
    font-size: 20px;
    line-height: 100%;
    margin: 16px 0 0;
}
#site-description ul {
    display: inline;
}
#site-description {
}
#site-description ul li a {
    float: left;
}
#main-menu .nav-toggle {
    display: none;
}
#main-menu {
    margin: 0 auto;
    max-width: 1000px;
}
#main-menu ul {
    float: left;
    font-size: 13px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#main-menu li {
    float: left;
    font-family: "Vollkorn",arial,serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    position: relative;
}
#main-menu ul li:first-child {
    padding-left: 0;
}
#main-menu a {
    border-radius: 5px;
    color: #343434;
    display: block;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}
#main-menu a:hover, #main-menu li > a.active, #main-menu li > a.active-trail {
    background: #ffffff none repeat scroll 0 0;
    color: #00a99d;
    text-decoration: none;
}
.drop-down-toggle {
    border: 3px solid #ffffff;
    border-radius: 15px;
    display: none;
    height: 20px;
    position: absolute;
    right: 16px;
    top: 7px;
    width: 20px;
}
.drop-down-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ffffff;
    display: block;
    height: 0;
    margin: 8px 0 0 5px;
    width: 0;
}
#socialbar .social .fb a {
    background: transparent url("../images/fb.png") no-repeat scroll center center;
    display: inline-block;
    height: 35px;
    opacity: 0.5;
    width: 35px;
}
#socialbar .social .fb a:hover {
    opacity: 1;
}
#socialbar .social .tw a {
    background: transparent url("../images/tw.png") no-repeat scroll center center;
    display: inline-block;
    height: 35px;
    opacity: 0.5;
    width: 35px;
}
#socialbar .social .tw a:hover {
    opacity: 1;
}
#socialbar .social .ln a {
    background: transparent url("../images/in.png") no-repeat scroll center center;
    display: inline-block;
    height: 35px;
    opacity: 0.5;
    width: 35px;
}
#socialbar .social .ln a:hover {
    opacity: 1;
}
#socialbar {
    float: right;
}
#socialbar ul li {
    float: left;
    list-style: outside none none;
}
#main-menu li li {
    float: none;
    margin: 0;
    min-width: 190px;
    padding: 0;
}
#main-menu li li a {
    background: #00a99d none repeat scroll 0 0;
    border: 1px solid #343434;
    color: #ffffff;
    font-size: 14px;
    margin: 0;
    min-width: 150px;
    overflow: hidden;
    padding: 4% 5%;
    text-align: left;
}
#main-menu li li a:hover {
    background: #343434 none repeat scroll 0 0;
    color: #fff;
}
#main-menu li ul {
    display: none;
    height: auto;
    margin: 0;
    min-width: 190px;
    padding: 0;
    position: absolute;
    z-index: 9999;
}
#main-menu li ul ul {
    margin: -33px 0 0 190px;
}
#main-menu li:hover > ul, #main-menu li li:hover > ul, #main-menu li li li:hover > ul {
    display: block;
}
#main-menu ul li.leaf, #main-menu ul li.expanded, #main-menu ul li.collapsed {
    list-style: outside none none;
}
#main-menu ul.menu li {
    margin: 0 3px 0 0;
}
#main-menu li.expanded, #main-menu li.collapsed, #main-menu li.leaf {
    margin: 0;
}
.front #container {
    margin-top: 1.5%;
}
#container {
    margin: 2.76% auto;
    max-width: 1000px;
}
.slides, .flex-control-nav {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.slides {
    overflow: hidden;
    width: 600px;
}
#slider .slides > li {
    display: none;
    margin: 0;
}
#slider .slides li:first-child {
    display: list-item;
}
.flex-pauseplay span {
    text-transform: capitalize;
}
.slides::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.flex-control-nav {
    height: 14px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
.flex-control-nav li a {
    background: #a3a3a3 none repeat scroll 0 0;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    height: 14px;
    line-height: 0;
    margin: 0 2px 0 1px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    width: 14px;
    z-index: 99;
}
.flex-control-nav li {
    display: inline-block;
    margin: 0 0 0 15px;
}
.flex-control-nav li:first-child {
    margin: 0;
}
.flex-control-nav li a.flex-active, .flex-control-nav li a:hover {
    background: #00a99d none repeat scroll 0 0;
    color: #c24050;
}
.flex-direction-nav {
    display: none;
}
#single-post-slider .slides img {
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px black;
}
#slider .post {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-shadow: none;
    margin: 0;
    padding: 1.83%;
}
#slider .entry-container {
    float: right;
    max-width: 50%;
}
#slider .slide-image {
    background: #e9e9e9 none repeat scroll 0 0;
    max-width: 49%;
    padding: 0.47%;
}
#slider .entry-header, #slider .entry-summary {
    margin-left: 5%;
}
#slider .entry-title {
    margin-bottom: 15px;
    margin-left: 0;
}
.content-sidebar-wrap {
    float: left;
    width: 100%;
}
.content-sidebar-wrap #content {
    display: inline;
    float: right;
    margin-bottom: 2.7%;
    width: 100%;
}
#sidebar-first {
    color: #888;
    float: left;
}
#sidebar-second {
    color: #888;
    float: right;
}
body.two-sidebars .content-sidebar-wrap {
    width: 80%;
}
body.two-sidebars #content {
    width: 75%;
}
body.two-sidebars #sidebar-first {
    width: 24%;
}
body.two-sidebars #sidebar-second {
    width: 19%;
}
body.sidebar-first .content-sidebar-wrap {
    width: 100%;
}
body.sidebar-first #content {
    width: 80%;
}
body.sidebar-first #sidebar-first {
    width: 19%;
}
body.sidebar-second .content-sidebar-wrap {
    width: 80%;
}
body.sidebar-second #content {
    width: 100%;
}
body.sidebar-second #sidebar-second {
    width: 19%;
}
#post-content {
    padding: 0 20px;
}
.breadcrumb {
    border-bottom: 1px solid #eee;
    margin: 0 20px 10px;
    padding-top: 20px;
}
#head, #content, #sidebar-second, #sidebar-first {
    margin-top: 10px;
}
.node {
    margin: 20px 0;
}
.node h2.title, .page-title {
    color: #555555;
    font-size: 20px;
}
.node h2.title a {
    color: #000;
}
.block {
    margin-bottom: 1%;
}
.block > h2 {
    border-bottom: 1px solid #ccc;
    color: #555;
    font-family: Vollkorn,arial,serif;
    font-size: 24px;
    font-weight: normal;
    margin: 5px 0;
    padding: 0 0 4px;
    text-transform: capitalize;
}
#footer-area .block > h2 {
    border: 0 none;
    color: #333333;
    margin-bottom: 10px;
    text-transform: capitalize;
}
#footer-area ul.menu li a.active {
    color: #ddd;
}
.submitted {
    background: #e9e9e9 none repeat scroll 0 0;
    border-radius: 4px;
    clear: both;
    color: #383838;
    display: block;
    margin-bottom: 5px;
    padding: 4px 9px;
}
.links {
    color: #000;
    font-size: 14px;
    margin-top: 10px;
}
ul.links {
    margin: 0;
}
.links li a {
    background: #00a99d none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-weight: normal;
    margin-bottom: 1px;
    padding: 4px 8px;
}
.links li a:hover {
    background: #0dc4b5 none repeat scroll 0 0;
    color: #ddd;
}
.poll .vote-form .choices .title {
    font-size: 14px;
    font-weight: normal;
    line-height: 2;
}
.poll .vote-form .choices {
    margin: 0;
}
.form-submit {
    cursor: pointer;
    margin: 5px;
}
input.form-checkbox, input.form-radio {
    vertical-align: baseline;
}
.form-text {
    padding: 4px 5px;
}
.item-list ul {
    margin: 0;
    padding: 0 0 0 1.5385em;
}
.item-list ul li {
    margin: 0;
    padding: 0;
}
ul.menu li {
    margin: 0;
    padding: 0;
}
ul.inline {
    clear: both;
}
ul.inline li {
    margin: 0;
    padding: 0;
}
.tabs-wrapper {
    border-bottom: 1px solid #b7b7b7;
    margin: 0 0 5px;
}
ul.primary {
    border: medium none;
    margin: 0;
    padding: 0;
}
ul.primary li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px 4px 0 0;
    display: block;
    float: left;
    line-height: 1.5385em;
    margin: 0 5px 0 0;
    padding: 0 1em;
}
ul.primary li a:hover, ul.primary li a.active {
    background: #666 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
}
ul.primary li a:hover {
    background: #888 none repeat scroll 0 0;
    text-decoration: none;
}
ul.secondary {
    background: #666 none repeat scroll 0 0;
    border-bottom: medium none;
    clear: both;
    margin: 0;
    padding: 0;
}
ul.secondary li {
    border-right: medium none;
}
ul.secondary li a, ul.secondary li a:link {
    border: medium none;
    color: #ccc;
    display: block;
    float: left;
    line-height: 1.5385em;
    padding: 0 1em;
}
ul.secondary li a:hover, ul.secondary li a.active {
    background: #888 none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
ul.secondary a.active {
    border-bottom: medium none;
}
.field-name-field-tags {
    margin: 0 0 10px;
}
.field-name-field-tags a {
    background: rgba(0, 0, 0, 0) url("../images/tag.png") no-repeat scroll 0 0;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    height: 22px;
    padding: 0 8px 0 16px;
    text-shadow: 1px 1px #fff;
}
.field-name-field-tags .field-item {
    margin: 0 1em 0 0;
}
.field-name-field-tags div {
    display: inline;
}
.profile {
    margin: 1.5385em 0;
}
.profile dd {
    margin-bottom: 1.5385em;
}
.profile h3 {
    border: medium none;
}
.profile dt {
    margin-bottom: 0;
}
.password-parent {
    width: 36em;
}
.item-list .pager li {
    background: #cfcfcf none repeat scroll 0 0;
    border-radius: 3px;
    margin-right: 4px;
    text-shadow: 1px 1px #fff;
}
.field-name-taxonomy-forums div {
    display: inline;
    margin-top: 4px;
}
#forum .title {
    font-size: 16px;
}
#forum .submitted {
    background: transparent none repeat scroll 0 0;
    font-family: Lucida Grande,Verdana,Arial,sans-serif;
    font-size: 12px;
    padding: 0;
}
#forum .container {
    background: #a1a1a1 none repeat scroll 0 0;
    color: #fff;
}
#forum .container a {
    color: #000;
    font-weight: bold;
}
#forum div.indent {
    margin-left: 2px;
}
.forum-starter-picture {
    border: 1px solid #d9d9d9;
    float: left;
    margin: 5px 7px 5px 0;
    padding: 4px;
}
#forum th {
    background: #434343 none repeat scroll 0 0;
    color: #fff;
    text-shadow: none;
}
#forum th a {
    color: #fff;
}
#forum td.forum .icon, #forum .icon div {
    background: rgba(0, 0, 0, 0) url("../images/no-new-posts.png") no-repeat scroll 0 0;
    height: 35px;
    width: 35px;
}
#forum .name a {
    font-size: 16px;
}
img {
    outline: 0 none;
}
img.scale-with-grid {
    height: auto;
    max-width: 100%;
}
.comment h2.title {
    margin-bottom: 1em;
}
.comment div.user-picture img {
    margin-left: 0;
}
.comment {
    display: table;
    margin-bottom: 20px;
    vertical-align: top;
}
.comment .attribution {
    display: table-cell;
    overflow: hidden;
    padding: 0 35px 0 0;
    vertical-align: top;
}
.comment .attribution img {
    border: 1px solid #d3d7d9;
    margin: 0;
}
.comment .attribution .username {
    white-space: nowrap;
}
.comment .comment-submitted p {
    font-size: 1.071em;
    line-height: 1.2;
    margin: 4px 0;
}
.comment .comment-submitted .comment-time {
    font-size: 0.786em;
}
.comment .comment-submitted .comment-permalink {
    font-size: 0.786em;
    text-transform: lowercase;
}
.comment .content {
    font-size: 0.929em;
    line-height: 1.6;
}
.comment .comment-arrow {
    background: transparent url("../images/comment-arrow.gif") no-repeat scroll 0 center;
    border-left: 1px solid;
    border-right: 1px solid;
    height: 40px;
    margin-left: -36px;
    margin-top: 15px;
    position: absolute;
    width: 20px;
}
.comment .comment-text {
    border-left: 1px solid #d3d7d9;
    display: table-cell;
    padding: 0 25px 10px 35px;
    position: relative;
    vertical-align: top;
    width: 100%;
}
.comment .indented {
    margin-left: 40px;
}
.comment-unpublished {
    margin-right: 5px;
    padding: 5px 2px 5px 5px;
}
.comment .comment-text .comment-arrow {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}
fieldset {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 32px;
    margin-top: 10px;
    padding: 0 0 10px;
    position: relative;
    top: 12px;
}
.fieldset-wrapper {
    margin-top: 25px;
}
.node-form .vertical-tabs .fieldset-wrapper {
    margin-top: 0;
}
.filter-wrapper {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 1em 0 0.2em;
    top: 0;
}
.filter-help a {
    font-size: 0.857em;
    padding: 2px 20px 0;
}
.filter-wrapper .form-item label {
    margin-right: 10px;
}
.filter-wrapper .form-item {
    padding: 0 0 0.5em 0.5em;
}
.filter-guidelines {
    padding: 0 1.5em 0 0.5em;
}
fieldset.collapsed {
    background: transparent none repeat scroll 0 0;
    border-radius: 0;
}
fieldset legend {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #dbdbdb none repeat scroll 0 0;
    border-color: #ccc #ccc currentcolor;
    border-image: none;
    border-style: solid solid none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-width: 1px 1px medium;
    display: block;
    height: 2em;
    left: -1px;
    line-height: 2;
    padding: 0;
    position: absolute;
    text-indent: 10px;
    text-shadow: 0 1px 0 #fff;
    top: -12px;
    width: 100%;
}
fieldset.collapsed legend {
    border-radius: 4px;
}
fieldset .fieldset-wrapper {
    padding: 0 10px;
}
fieldset .fieldset-description {
    font-style: italic;
    line-height: 1.4;
    margin-bottom: 1em;
    margin-top: 5px;
}
input {
    margin: 2px 0;
    padding: 4px;
}
input, textarea {
    font-size: 0.929em;
}
textarea {
    line-height: 1.5;
}
textarea.form-textarea, select.form-select {
    padding: 4px;
}
input.form-text, textarea.form-textarea, select.form-select {
    border: 1px solid #ccc;
}
.password-suggestions ul li {
    margin-left: 1.2em;
}
.form-item {
    margin-bottom: 1em;
    margin-top: 2px;
}
.form-item label {
    font-size: 0.929em;
}
.form-type-radio label, .form-type-checkbox label {
    margin-left: 4px;
}
.form-type-radio .description, .form-type-checkbox .description {
    margin-left: 2px;
}
.form-actions {
    padding-top: 10px;
}
button, input[type="submit"], input[type="reset"], input[type="button"] {
    background-image: -moz-linear-gradient(center top , #ffffff 0%, #e3e3e3 100%);
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    box-shadow: 0 1px 0 0 white inset;
    color: #333333;
    font-weight: bold;
    padding: 8px 1em 9px;
    position: relative;
    text-shadow: 0 1px 0 white;
}
button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
    background-image: -moz-linear-gradient(center top , #dbdbdb 0%, #f2f2f2 100%);
    border-radius: 6px;
    box-shadow: 0 1px 0 0 white inset;
    cursor: pointer;
}
#block-search-form {
    overflow: hidden;
    padding-bottom: 7px;
}
#block-search-form .content {
    margin-top: 0;
}
#search-form input#edit-keys, #block-search-form .form-item-search-block-form input {
    float: left;
    font-size: 1em;
    height: 1.143em;
    margin-right: 5px;
    width: 9em;
}
#search-block-form input.form-submit, #search-form input.form-submit {
    background: rgba(0, 0, 0, 0) url("../images/search-button.png") no-repeat scroll center top;
    border-color: #e4e4e4 #d2d2d2 #b4b4b4;
    cursor: pointer;
    height: 25px;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    padding: 0;
    text-indent: -9999px;
    width: 34px;
}
#search-block-form input.form-submit:hover, #search-block-form input.form-submit:focus, #search-form input.form-submit:hover, #search-form input.form-submit:focus {
    background-position: center bottom;
}
#search-block-form .form-actions {
    float: left;
    padding: 0;
}
#search-block-form .form-actions input {
    margin: 1px 0;
}
#search-form .form-item-keys label {
    display: block;
}
ol.search-results {
    padding-left: 0;
}
.search-results li {
    border-bottom: 1px solid #d3d7d9;
    margin-bottom: 0.5em;
    padding-bottom: 0.4285em;
}
.search-results li:last-child {
    border-bottom: medium none;
    margin-bottom: 1em;
}
.search-results .search-snippet-info {
    padding-left: 0;
}
#top-area {
    clear: both;
}
#top-area {
    border-radius: 5px;
    margin-bottom: 0;
    position: relative;
}
#top-area .block {
    margin: 0;
}
#top-area .block p {
    margin: 0;
}
#top-area .column {
    border-radius: 3px;
    float: left;
    margin: 1.8% 0;
    padding: 0.5% 2.2%;
    width: 28.6%;
}
.one .column {
    width: 100%;
}
.one .column img {
    float: left;
    padding-right: 10px;
}
.two .column {
    width: 45%;
}
.two .column img {
    float: left;
    padding-right: 10px;
}
#top-area .column:first-child {
    margin-left: 0;
}
#top-area .column:last-child {
    border: 0 none;
}
#top-area .column-title {
    color: #e0e0e0;
}
#top-area li {
    border-bottom: 1px dashed #555;
}
#footer {
    background: #00a99d none repeat scroll 0 0;
    border-top: 1px solid #cfd7db;
    clear: both;
    color: rgb(34, 34, 34);
}
#footer_wrapper {
    margin: 0 auto;
    max-width: 1000px;
    padding: 5px;
}
#footer-area {
    color: #999;
    padding: 1.76% 0 0;
    position: relative;
}
#footer-area .column {
    color: #ffffff;
    float: left;
    margin: 0 0 1.9% 3.8%;
    width: 30.8%;
}
#footer-area .column:first-child {
    margin-left: 0;
}
#footer-area .column-title {
    color: #e0e0e0;
}
#footer-area a {
    color: #ffffff;
    text-decoration: underline;
}
#copyright {
    clear: both;
    line-height: 40px;
    padding: 0;
}
.copyright {
    float: left;
    max-width: 728px;
}
.credits {
    float: right;
    margin-right: 12px;
    max-width: 370px;
    text-align: right;
}
#copyright p {
    margin: 0;
}
.footer_credit {
    background: #000 none repeat scroll 0 0;
    border-top: 1px solid rgb(59, 60, 61);
    color: #777;
    font-family: Arial;
    overflow: auto;
    padding: 10px;
}
.footer_inner_credit {
    margin: 0 auto;
    max-width: 1000px;
}
#foot .menu li .active {
    color: #00a99d;
}
#foot .menu li a {
    color: #ffffff;
}
#foot .block > h2 {
    color: #ffffff;
}
#top-menu {
    background-color: #00a99d;
    border-bottom: 0 solid #00a99d;
    border-top: 0 solid #00a99d;
    display: block;
    height: 35px;
    margin-bottom: 15px;
    position: relative;
}
#top-menu-left {
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
}
#top-menu-left li {
    display: inline;
    text-decoration: underline;
}
#top-menu-left li a {
    color: black;
    display: inline;
    font-size: 14px;
    margin: 15px 10px 15px 15px;
}
#top-menu-right {
    float: right;
    margin-bottom: 5px;
    margin-top: 5px;
}
#top-menu-right li {
    display: inline;
}
#top-menu-right li a {
    color: black;
    font-size: 14px;
    margin: 15px 7px 15px 15px;
    text-decoration: underline;
}
#menu-recherche {
    display: block;
    height: 32px;
    text-align: center;
}
#menu-recherche ul {
    float: none;
    text-align: center;
}
#menu-recherche ul li {
    display: inline;
    list-style-type: lower-greek;
}
#menu-recherche ul li a {
    font-size: 16px;
    font-weight: bold;
    margin: 0 5px;
}
#info {
    border-top: 2px solid black;
    float: right;
    margin-top: 20px;
    max-height: 197px;
    max-width: 320px;
    padding-top: 20px;
    position: relative;
}
#xxxxx {
    color: #686c6f;
    display: block;
    font-family: "helvetica";
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    padding: 6px;
    transition: all 0.3s linear 0s;
}
div#info p:first-child {
    background-color: #999;
    color: white;
}
div#info p {
    margin-bottom: 10px;
}
.titre_a_la_une, .class-resume {
    background-color: #fff;
    color: #333;
    font-family: "georgia";
    font-size: 18px;
    font-style: italic;
    font-weight: 100;
    left: 34%;
    margin: -23px auto 0;
    padding: 8px 12px;
    position: absolute;
    text-align: center;
    top: 0;
    width: -moz-max-content;
    z-index: 10;
}
#flux-info {
    color: #555555;
    display: block;
    font-family: "helvetica";
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 90px;
    max-height: inherit;
    overflow: scroll;
    transition: all 0.3s linear 0s;
}
#id-resume {
    left: 55%;
    margin: 0 auto;
    position: absolute;
    text-decoration: underline;
    top: 100%;
}
.bloc-general {
    border-top: 2px solid black;
    margin: 40px 5px 0;
    position: relative;
}
.bloc-grande-ligne {
    font-size: 32px;
    left: 40%;
    margin-top: -23px;
    top: 0;
}
#flux-orientation {
    margin-top: 45px;
}
.alignement {
    border: 0 none;
    margin-left: 9px;
}
.orientation-recherche-bloc {
    display: inline;
    float: left;
    margin: 7px;
    max-height: inherit;
    padding: 0 5px 5px;
    width: 290px;
}
.titre-info {
    border: 0 none;
    text-align: center;
}
#recherche-bloc {
    float: left;
    width: inherit;
}
#bloc-formation {
    display: inline-block;
    float: left;
    margin: 40px 5px 0;
    position: relative;
}
.formation-recherche-bloc {
    background-color: #00a99d;
    display: inline-block;
    float: left;
    margin-left: 0;
    padding: 0 10px 10px;
    text-align: center;
}
.recherche-label {
    background-color: #fff;
    border-radius: 10px;
    color: #00a99d;
    display: inline-block;
    float: left;
    margin: 5px 5px 10px;
    padding: 5px;
}
